*{
	margin:0;
	padding:0;
}

body {
	font-family:微软雅黑;
	background:#e6e6e6;
}

header{
	position:relative;
	background:#333;
	height:60px;
}

.nav{
	padding-right:20px;
}



.nav li{
	display:inline-block;
	float:right;
}

.nav li a{
	color:#f7f7f7;
	text-decoration:none;
	padding:20px;
	display:inline-block;
}

.article{
	padding:2em 1.5em;
	margin:1em;
	background:#f7f7f7;
}

.form{
	margin-top:3em;
	margin-right:2em;
	margin-bottom:1em;
	margin-left:1em;
	padding:2em 1.5em;
	background:#f7f7f7;
}

h3,
p.author{
	color:#888;
}




















