*{
	margin:0;
	padding:0;
}

body{
	background:gray;
}


div.whole-page{
	font-family:微软雅黑;
	width:936px;
	height:1386px;
	margin-top:1em;
	margin-left:1em;
	margin-bottom:1em;
	background-color:white;
	padding-left:44px;
	position:relative;
}

#logo{
	width:110px;
	height:61px;
	background:#c43c3c;
}

#site{
	font-family:黑体;
	font-size:12px;
	color:#fff;
	padding-left:4px;
	padding-top:44px;
}

#date{
	font-family:黑体;
	font-size:12px;
	color:#c43c3c;
	position:absolute;
	right:44px;
	top:44px;
}

.parting-line{
	height:2px;
	width:892px;
	background:#938e8c;
}

.laptop{
	margin-top:40px;
}
.block{
	width:200px;
	margin-right:16px;
	margin-top:40px;
	float:left;
}

h3{
	margin-bottom:15px;
	text-decoration:underline;
	font-size:16px;
}

#what{
	color:green;
}

#when{
	color:#d2994f;
}

#how{
	color:#cc7680
}

.para{
	font-size:12px;
	color:#231815;
	opacity:0.7;
}

.num{
	margin-top:32px;
	margin-left:16px;
}

.percent{
	font-style:italic;
	color:#cd4a48;
}

.aside{
	width:203px;
	height:301px;
	float:right;
	margin-right:44px;
	margin-top:40px;
}

#top-line{
	width:203px;
	height:2px;
	background:#cc8091;
}

.about{
	font-size:20px;
}

.big{
	font-size:32px;
}

#breif{
	font-size:12px;
	color:#676767;
	font-family:楷体;
	font-style:italic;
}

#num1{
	font-size:116px;
	font-style:oblique;
	color:#75b86b;
	font-weight:bold;
	margin-left:-18px;
}

#num2{
	font-size:55px;
	color:#cc8091;
	float:left;
}

#css{
	font-size:21px;
	color:#cc8091;
	display:block;
	padding-top:25px;
}

.br{
	font-size:12px;
	color:#231815;
	opacity:0.7;
	margin-top:-7px;
}

.right{
	margin-top:-22px;
	margin-left:10px;
}

.left-block{
	clear:left;
	width:415px;
}
	
h2 span#the{
	font-family:黑体;
	color:#f5e327;
	font-size:72px;
	font-style:italic;
}

#title1{
	font-size:42px;
	color:#11456b;
	font-family:黑体;
	display:block;
	padding-top:48px;
}


#title2{
	font-size:33px;
	color:#11456b;
	font-family:黑体;
}

#middle-line{
	width:415px;
	height:2px;
	background:#11456b;
	margin-bottom:16px;
	margin-top:16px;
}

#qian{
	font-size:70px;
	color:#f5e327;
	float:left;
	margin-top:-12px;
	margin-right:12px;	
}

.code{
	float:right;
	margin-top:100px;
}






